work/*
work.old/*
data/*
success/*
unused/*
.snakemake/*
.snakemake_backup/*
demo/demo_workdir/*.
logs/*
*.swp
*.err
*.out
*.vcf
*.idx
*.bam
*.ped
AGENTS.md
scripts/config.json
scripts/sbatch.sh
scripts/myjobs
